<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.careshipapp" >

    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        tools:node="replace" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarEshipApp" >

        <activity
            android:name=".gui.activities.CreateAccountActivity"
            android:exported="false" />

        <activity
            android:name=".gui.activities.MainActivity"
            android:exported="false" />

        <activity
            android:name=".gui.activities.DetailedActivity"
            android:exported="false" />

        <activity
            android:name=".gui.activities.OrderActivity"
            android:exported="false" />

        <activity
            android:name=".gui.activities.PaymentActivity"
            android:exported="false" />

        <activity
            android:name=".gui.activities.ShowAllActivity"
            android:exported="false" />

        <activity
            android:name=".gui.activities.CustomerLoginActivity"
            android:exported="true" />
        <activity
            android:name=".gui.activities.CustomerPaymentActivity"
            android:exported="true" />
        <activity
            android:name=".gui.activities.StaffLoginActivity"
            android:exported="true" />
        <activity
            android:name=".gui.ForgotPasswordAuthActivity"
            android:exported="true" />
        <activity
            android:name=".car_control.JoystickMainActivity"
            android:exported="true" />
        <activity
            android:name=".gui.activities.PaymentConfirmationActivity"
            android:exported="true" />
        <activity
            android:name=".gui.activities.OnBoardingActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.activities.UserControllerActivity"
            android:exported="true" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>